body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
    overflow: hidden;
}

.container {
    text-align: center;
    z-index: 10;
}

#logos {
    margin-bottom: 20px;
}

.logo {
    height: 100px; /* Altura fixa */
    width: 150px;  /* Largura fixa */
    margin: 0 20px;
}

#countdown {
    font-size: 3rem;
    z-index: 10;
}

#fireworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.rocket {
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: white;
    animation: moveUp 2s ease-out forwards;
}

.firework {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    animation: explode 1s ease-out forwards, fall 2s ease-out forwards;
}

@keyframes moveUp {
    from {
        bottom: 0;
        opacity: 1;
    }
    to {
        bottom: 80%;
        opacity: 0;
    }
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 1;
    }
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}

#message {
    position: fixed;
    bottom: 20px;
    left: 100%;
    font-size: 2rem;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}

#santa-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.7);
}

#santa-gif img {
    max-width: 100%;
    height: auto;
}
